.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
}
button{
    padding: 5px;
    width: 100px;
    text-align: center;
    margin: 30px;  
    box-shadow: 5px 5px 1px 2px black;
    transition: all .5s linear;
    font-weight: 800;
    font-family: 'Roboto', sans-serif;
    color: rgb(218, 162, 93);
    background-color: rgb(46, 46, 46);
}          

button:hover{
    transform: translate(-10px,-10px);
    box-shadow: 15px 15px 5px 5px black;
}