#app{
    height: 420px;
    width: 300px;
    border: 1px solid #0c1831;
    border-radius: 5px; 
    background-color: black;
    box-shadow: 10px 10px 9px 4px  rgb(82, 82, 82); 
}

#app form{
    height: 100%;
    width: 100%;
    background-color:#0c1831;
}

#app input[type=textfield]{
    height: 22%;
    width: 90%;
    cursor: default;
    font-family: 'Roboto', sans-serif;
    background-color: #0c1831;
    color: #ff827a;
    padding: 15px;
    text-align: right;
    font-size: 50px;
    border: 0;
    outline: none;
}

#app input[type=button], input[type=reset]{
    width: 21.5%;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 26px;
    color: #ff827a;
    padding: 18px;
    margin: 3px;
    border: 0;
    border-radius: 100%;
    box-shadow: 4px 3px 1px #ff827a; 
}

.darkblue{
    background-color: #4357a1;
    color : white;
}

.lightblue{
    background-color: #cac8ff;
    color : white;
}